* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:18px;
}
:root {
  --border-color:#6d5744;
}
#root {
  background-color:#ffe9d6;
  color:#6d5744;
  display:flex;
  flex-direction:row;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display:flex;
  min-height:100vh;
  width:84vw;
}

.container-column {
  display:flex;
  flex-direction:column;
  width:100%;
  padding:60px;
  text-align:left;
}

.container ul {
  list-style:none;
}

#main-header {
  height:100vh;
}

#main-header, #main-footer {
  width:8vw;
  text-align:center;
}

#main-header, #main-footer, .container-column {
  border-right:2px solid var(--border-color);
}

.home-title h2 {
  color: #ffe9d6;
  text-shadow: 1px 1px 4px #6d5744;
}

.button-link a {
  width:fit-content;
  color:#6d5744;
  border:2px solid #6d5744;
  background-color:#ffe9d6;
  display:block;
  text-decoration:none;
  padding:16px;
  transition:color 0.2s, border 0.2s, background-color 0.2s;
}

.button-link a:hover {
  
  color:#ffe9d6;
  background-color:#6d5744;
}

nav li {
  list-style:none;
  font-size:16px;
  margin-left:-40px;
}

nav .button-link a {
  width:100%;
}

.container-column img {
  width:100%;
  margin:10px;
}